@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    padding:30px;
    margin: 10px;
    width: 800px; 
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    margin-bottom:100px;
}
.moderation {
    color: white;
    font-weight: 50;
}
.modcommands {
    color: rgb(0, 255, 76);
    font-size: smaller;
}
.fun {
    color: white;
    font-weight: 50;
}
.funcommands {
    color: rgb(0, 255, 76);
    font-size: smaller;
}
.protection {
    color: white;
    font-weight: 50;
}
.anticommands {
    color: rgb(0, 255, 76);
    font-size: smaller;
}
.utility {
    color: white;
    font-weight: 50;
}
.utilcommands {
    color: rgb(0, 255, 76);
    font-size: smaller;
}
.wraith {
    color: white;
    font-weight: 50;
}
.wraithcmds {
    color: rgb(0, 255, 76);
    font-size: smaller;
}
.welcome {
    color: white;
    font-weight: 50;
}
.welccmds {
    color: rgb(0, 255, 76);
    font-size: smaller;
}
.economy {
    color: white;
    font-weight: 50;
}
.econcmds {
    color: rgb(0, 255, 76);
    font-size: smaller;
}
.wraith {
    color: white;
    font-size: medium;
}